
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="jumbotron">
    <h1>FIFA DATA MANAGER Album Panini Russia Soccer WorldCup 2018</h1>
    <p class="lead">This is a proyect based on the manipulation of information using a Dictionary</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List of cards Of Countrys Or Specialsh<</h2>>
        <p>
            Do you want to see a list of cards listed by Countrys Or Specialsh?
        </p>
        <p>@Html.ActionLink("Go", "Index", "Calcomanias")</p>
    </div>
    <div class="col-md-4">
        <h2>List of cards by Values True or False</h2>
        <p>Do you want to see a list of cards listed by Values True or False?</p>
        <p>@Html.ActionLink("Go", "IndexVal", "Calcomanias")</p>
    </div>
</div>