
@{
    ViewBag.Title = "UploadColeccion";
}

<h2>UploadColeccion</h2>
@using (Html.BeginForm("UploadColeccion", "Calcomanias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.TextBox("file", "", new { type = "file" }) <br />

    <input type="submit" value="Subir" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
